.HaedContena{
  height: 8%;
  width: 100%;
  background-color: red;
  .HaedContena-title{
    background-color: green;
    height: 70%;
    &__word{
      color: black;
      font-style: italic;
      font-size: 60px;
      font-weight: 900;
      text-shadow: 0 7px 7px rgba(255, 255, 255, 1);
      text-align: center;
      // padding-top: 10px;
    }
  }
  .HaedContena-Item{
    background-color: blue;
    height: 30%;
  }
}
.card__footer--btn{
  display: block;
  border-radius: 10px;
  background-color: #ea352d;
  margin: 0 auto;
  height: 45px;
  width: 70%;
  border: none;
  .test{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
  }
}
