.HaedContena
  .HaedContena-title
    %p.HaedContena-title__word asdfghjk
  .HaedContena-Item
    %ul.nav.justify-content-end
      %li.nav-item
        = link_to 'link', '#', {class: 'nav-link'}
      %li.nav-item
        = link_to 'name', '#', {class: 'nav-link'}
      %li.nav-item
        %a.nav-link{:href => "#"} Link
      %li.nav-item
        %a.nav-link.disabled{:href => "#"} Disabled
-# .card{:style => "width: 18rem;"}
-#   = image_tag 'cotegory-2.jpeg', alt: 'test', class: 'bd-placeholder-img.card-img-top'
-#   .card-body
-#     %h5.card-title Card title
-#     %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
-#   %ul.list-group.list-group-flush
-#     %li.list-group-item Cras justo odio
-#     %li.list-group-item Dapibus ac facilisis in
-#     %li.list-group-item Vestibulum at eros
-#   .card-body
-#     %a.card-link{:href => "#"} Card link
-#     %a.card-link{:href => "#"} Another link

-# .card{:style => "width: 18rem;"}
-#   = image_tag 'cotegory-2.jpeg', alt: 'test', class: 'bd-placeholder-img.card-img-top'
-#   .card-body
-#     %h5.card-title Card title
-#     %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
-#     %a.btn.btn-primary{:href => "#"} Go somewhere
-#     %button.card__footer--btn
-#       = link_to "新規投稿商品", '#', {class: 'test'}
-#   .testBtn
-#     = link_to 'testbotn', '#', {class: "btn.btn-primary"}
-# .ImgContena
-#   = image_tag 'cotegory-2.jpeg', size: "200x200", alt: "test"
-#   = image_tag 'cotegory-2.jpeg', alt: 'test', height: '200', width: '200', class: 'bd-placeholder-img.card-img-top'
